<template name="radio">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">Loading</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="padding">
                <form name="radio_button_form" id="radio-button-form">
                    {{#ionRadio name="test"}}Test Content 1{{/ionRadio}}
                    {{#ionRadio name="test"}}Test Content 2{{/ionRadio}}
                </form>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>
