<template name="headersFooters">
    {{#ionView title="Headers/Footers Demo"}}
        {{#ionContent}}
            {{#ionList}}

                {{#ionItem path="headersFooters.header" class="item-icon-left item-icon-right"}}
                    <i class="icon ion-ios-drag assertive"></i>
                    Header
                    <i class="icon ion-ios-arrow-right assertive"></i>
                {{/ionItem}}

                {{#ionItem path="headersFooters.footer" class="item-icon-left item-icon-right"}}
                    <i class="icon ion-ios-drag assertive"></i>
                    Footer
                    <i class="icon ion-ios-arrow-right assertive"></i>
                {{/ionItem}}

                {{#ionItem path="headersFooters.header.alignTitle" class="item-icon-left item-icon-right"}}
                    <i class="icon ion-ios-drag assertive"></i>
                    alignTitle
                    <i class="icon ion-ios-arrow-right assertive"></i>
                {{/ionItem}}

                <div class="item item-divider">Buttons Related Demo</div>

                {{#ionItem path="buttons.headersFooters" class="item-icon-left item-icon-right"}}
                    <i class="icon ion-ios-drag assertive"></i>
                    Headers/Footers Buttons
                    <i class="icon ion-ios-arrow-right assertive"></i>
                {{/ionItem}}

                {{#ionItem path="buttons.headersFootersClear" class="item-icon-left item-icon-right"}}
                    <i class="icon ion-ios-drag assertive"></i>
                    Clear Headers/Footers Buttons
                    <i class="icon ion-ios-arrow-right assertive"></i>
                {{/ionItem}}

            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
