<template name="headersFooters">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        Headers/Footers Demo
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}

                {{#ionItem path="headersFooters.header" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-drag" class="assertive"}}
                            Header
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="headersFooters.footer" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-drag" class="assertive"}}
                            Footer
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="headersFooters.defaultCenterAlign" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-drag" class="assertive"}}
                            Default (Center) Align
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="headersFooters.rightAlign" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-drag" class="assertive"}}
                            Right Align
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="headersFooters.leftAlign" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-drag" class="assertive"}}
                            Left Align
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                <div class="item item-divider">Buttons Related Demo</div>

                {{#ionItem path="buttons.headersFooters" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-drag" class="assertive"}}
                        Headers/Footers Buttons
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.headersFootersClear" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-drag" class="assertive"}}
                        Clear Headers/Footers Buttons
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
