<template name="demoionScroll">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">Scroll</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionScroll direction="xy" zooming=true locking=false style="width: 500px; height: 500px;"}}
                <div style="width: 5000px; height: 5000px; background: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg') repeat"></div>
            {{/ionScroll}}
        {{/ionContent}}
    {{/ionView}}
</template>