<template name="sideMenu">
    {{#ionView title="Side Menu"}}
        {{#ionNavButtons side="left"}}
            <button class="button button-clear pull-left" menu-toggle="left">
                <i class="icon ion-navicon"></i>
            </button>
        {{/ionNavButtons}}
        {{#ionNavButtons side="right"}}
            <button class="button button-clear pull-right" menu-toggle="right">
                <i class="icon ion-navicon"></i>
            </button>
        {{/ionNavButtons}}

        {{#ionContent}}
            <div class="padding">
                <a href="{{pathFor 'index'}}" class="button button-large button-stable" data-nav-direction="back">
                    <i class="icon ion-ios-arrow-back"></i>
                    Back to Demo
                </a>
            </div>
        {{/ionContent}}
    {{/ionView}}

</template>
