<template name="headersFootersHeaderButtons">
    {{#ionView title="Header:Buttons"}}
        {{#ionNavButtons side="left"}}
            <button class="button button-clear">
                Left
            </button>
        {{/ionNavButtons}}

        {{#ionNavButtons side="right"}}
            <button class="button button-clear">
                Right
            </button>
        {{/ionNavButtons}}

        {{#ionContent}}
            Some content!
        {{/ionContent}}
    {{/ionView}}
</template>