<template name="index">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Meteor Ionic</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}

                {{#ionItem path="actionSheet" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Action Sheet
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="backdrop" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Backdrop
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="forms" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Forms
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="headersFooters" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Headers &amp; Footers
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="lists" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Lists
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="listsComplex" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Lists Complex
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="loading" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Loading
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="modal" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Modal
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="navigation" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Navigation
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="popover" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Popover
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="popup" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Popup
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="sideMenu" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Side Menu
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="slideBox" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Slide Box
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="spinner" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Spinner
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="tabs.one" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Tabs
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="userAccounts" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        User Accounts
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="radio" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="ios-checkmark" class="assertive"}}
                        Radio
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
