<template name="index">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Meteor Ionic</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}

                {{#ionItem path="actionSheet" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Action Sheet
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Buttons
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="backdrop" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Backdrop
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="forms" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Forms
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="headersFooters" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Headers &amp; Footers
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="lists" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Lists
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="listsComplex" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Lists Complex
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="demoListsionInfiniteScroll" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        ionInfiniteScroll
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="loading" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Loading
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="modal" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Modal
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="navigation" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Navigation
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="popover" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Popover
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="popup" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Popup
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="sideMenu" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Side Menu
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="slideBox" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Slide Box
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="demoionScroll" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Scroll
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="spinner" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Spinner
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="tabs.one" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Tabs
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="userAccounts" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        User Accounts
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="radio" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-ios-checkmark assertive"></i>
                        Radio
                        <i class="icon ion-ios-arrow-right assertive"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
