<template name="demoListsionInfiniteScroll">
    {{#contentFor "headerButtonLeft"}}
        <button id="button-delete" class="button button-icon icon ion-ios-minus-outline"></button>
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">Lists</h1>
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear" id="button-reorder">Reorder</button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList onReorder=onReorder showDelete=deletable showReorder=sortable canSwipe=true}}
                {{#each items}}
                    {{#ionItem class="item-avatar-left"}}
                        {{#ionItemContent}}
                            <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">
                            <h2>John Smith {{..}}</h2>
                            <p>(555) 555-1212</p>
                        {{/ionItemContent}}

                        {{#ionItemOptions}}
                            {{#ionOptionButton class="button-info"}}
                                Share
                            {{/ionOptionButton}}
                            {{#ionOptionButton class="button-assertive"}}
                                Edit
                            {{/ionOptionButton}}
                        {{/ionItemOptions}}

                        {{#ionDeleteButton class="ion-minus-circled"}}{{/ionDeleteButton}}
                        {{#ionReorderButton class="ion-navicon"}}{{/ionReorderButton}}
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}

            {{> ionInfiniteScroll onInfinite=onInfinite distance="10%" spinner="android" immediateCheck=true enable=hasMore}}
        {{/ionContent}}
    {{/ionView}}
</template>