<template name="lists">
    {{#ionView title="Lists"}}
        {{#ionContent}}
            {{#ionList}}

                {{#each items}}
                    {{#ionItem class="item-avatar-left item-button-right"}}
                        <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">
                        <h2>John Smith {{{this}}}</h2>
                        <p>(555) 555-1212</p>
                        <button class="button button-assertive"><i class="icon ion-ios-telephone"></i></button>
                    {{/ionItem}}
                {{/each}}

            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
