<template name="listsSortable">
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear" id="button-delete">Delete</button>
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">Lists</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <li class="item item-toggle">
                Sortable
                <label class="toggle">
                    <input type="checkbox" id="sortable-checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            {{#ionList ionSortable=sortable onReorder=onReorder showDelete=deletable}}
                {{#each times}}
                    {{#ionItem class="item-button-right item-avatar-right" index=this}}
                        {{#ionItemContent}}
                            <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">
                            <h2>John Smith {{..}}</h2>
                            <p>(555) 555-1212</p>
                        {{/ionItemContent}}

                        {{#ionItemOptions}}
                            {{#ionOptionButton class="button-info"}}
                                Share
                            {{/ionOptionButton}}
                            {{#ionOptionButton class="button-positive"}}
                                Edit
                            {{/ionOptionButton}}
                        {{/ionItemOptions}}

                        {{#ionDeleteButton class="ion-minus-circled"}}{{/ionDeleteButton}}
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>