<template name="demoButtonsBar">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="buttonsIndex"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        Button Bar
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="padding demo-buttons">
                <div class="button-bar">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>

                <div class="button-bar bar-light">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>

                <div class="button-bar bar-stable">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>

                <div class="button-bar bar-positive">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>

                <div class="button-bar bar-calm">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>

                <div class="button-bar bar-balanced">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>

                <div class="button-bar bar-energized">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>

                <div class="button-bar bar-assertive">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>

                <div class="button-bar bar-royal">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>

                <div class="button-bar bar-dark">
                    <a class="button">First</a>
                    <a class="button">Second</a>
                    <a class="button">Third</a>
                </div>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>