<template name="buttons">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Content</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
        <div class="padding">
            <button class="button">Default</button>
            <br><br>
            <button class="button button-light">button-light</button>
            <br><br>
            <button class="button button-stable">button-stable</button>
            <br><br>
            <button class="button button-positive">button-positive</button>
            <br><br>
            <button class="button button-calm">button-calm</button>
            <br><br>
            <button class="button button-balanced">button-balanced</button>
            <br><br>
            <button class="button button-energized">button-energized</button>
            <br><br>
            <button class="button button-assertive">button-assertive</button>
            <br><br>
            <button class="button button-royal">button-royal</button>
            <br><br>
            <button class="button button-dark">button-dark</button>
        </div>
        {{/ionContent}}
    {{/ionView}}
</template>