<template name="buttons">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        Buttons Demo
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}

                {{#ionItem path="buttons.default" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Buttons (default)
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.block" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Block
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.full" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Full Width
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.differentSizes" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Different Sizes
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.outlined" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Outlined
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.clear" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Clear
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.icons" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Icons
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.bar" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Buttons Bar
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                <div class="item item-divider">Headers/Footers Related Demo</div>

                {{#ionItem path="buttons.headersFooters" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Headers/Footers Buttons
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.headersFootersClear" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        <i class="icon ion-android-checkbox-blank"></i>
                        Clear Headers/Footers Buttons
                        <i class="icon ion-ios-arrow-right"></i>
                    {{/ionItemContent}}
                {{/ionItem}}

            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
