<template name="buttons">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        Buttons Demo
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}

                {{#ionItem path="buttons.default" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Buttons (default)
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.block" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Block
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.full" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Full Width
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.differentSizes" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Different Sizes
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.outlined" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Outlined
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.clear" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Clear
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.icons" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Icons
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.bar" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Buttons Bar
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                <div class="item item-divider">Headers/Footers Related Demo</div>

                {{#ionItem path="buttons.headersFooters" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Headers/Footers Buttons
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

                {{#ionItem path="buttons.headersFootersClear" class="item-icon-left item-icon-right"}}
                    {{#ionItemContent}}
                        {{> ionIcon icon="android-checkbox-blank" class="assertive"}}
                        Clear Headers/Footers Buttons
                        {{> ionIcon icon="ios-arrow-right"}}
                    {{/ionItemContent}}
                {{/ionItem}}

            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
