<template name="buttonsDefault">
    {{#ionView title="Defaults Buttons"}}
        {{#ionContent}}
            <div class="padding demo-buttons">
                <button class="button">Default</button>
                <br>
                <button class="button button-light">button-light</button>
                <br>
                <button class="button button-stable">button-stable</button>
                <br>
                <button class="button button-positive">button-positive</button>
                <br>
                <button class="button button-calm">button-calm</button>
                <br>
                <button class="button button-balanced">button-balanced</button>
                <br>
                <button class="button button-energized">button-energized</button>
                <br>
                <button class="button button-assertive">button-assertive</button>
                <br>
                <button class="button button-royal">button-royal</button>
                <br>
                <button class="button button-dark">button-dark</button>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>