<template name="demoButtonsDifferentSizes">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Different Sized Buttons</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="padding">
                <button class="button button-small button-assertive">
                    Small Button
                </button>
                <button class="button button-large button-positive">
                    Large Button
                </button>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>