<template name="demoButtonsDifferentSizes">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="buttonsIndex"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        Different Sized Buttons
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="padding">
                <button class="button button-small button-assertive">
                    Small Button
                </button>
                <button class="button button-large button-positive">
                    Large Button
                </button>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>