<template name="buttonsHeadersFooters">
    {{#contentFor "headerTitle"}}
        Headers/Footers Buttons
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-stable">Reorder</button>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        <button class="button button-stable">Delete</button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <a href="{{pathFor 'buttons'}}" class="button button-stable" data-nav-direction="back">{{> ionIcon icon="ios-arrow-back"}} Back</a>
        {{/ionContent}}
    {{/ionView}}
</template>