<template name="buttonsHeadersFooters">
    {{#ionView title="Headers/Footers Buttons"}}
        {{#ionNavButtons side="right"}}
            <button class="button">
                ionNavButtons:Right
            </button>
        {{/ionNavButtons}}

        {{#ionNavButtons side="primary"}}
            <button class="button">
                ionNavButtons:Primary
            </button>
        {{/ionNavButtons}}

        {{#ionContent}}
            <a href="{{pathFor 'buttons'}}" class="button button-stable" data-nav-direction="back"><i class="icon ion-ios-arrow-back"></i> Back</a>
        {{/ionContent}}
    {{/ionView}}
</template>