<template name="buttonsHeadersFootersClear">
    {{#ionView title="Headers/Footers Button"}}
        {{#ionHeaderBar align-title="left" class="bar-assertive"}}
            <div class="buttons">
                <button class="button button-clear button-energized" ng-click="doSomething()">Left Button</button>
            </div>
            <h1 class="title">Title!</h1>
            <div class="buttons">
                <button class="button button-clear button-positive">Right Button</button>
            </div>
        {{/ionHeaderBar}}
    {{/ionView}}
</template>