<template name="buttonsOutlined">
    {{#ionView title="Outlined Button"}}
        {{#ionContent}}
            <div class="padding demo-buttons">
                <button class="button button-outline">Default</button>
                <br>
                <button class="button button-outline button-light">button-light</button>
                <br>
                <button class="button button-outline button-stable">button-stable</button>
                <br>
                <button class="button button-outline button-positive">button-positive</button>
                <br>
                <button class="button button-outline button-calm">button-calm</button>
                <br>
                <button class="button button-outline button-balanced">button-balanced</button>
                <br>
                <button class="button button-outline button-energized">button-energized</button>
                <br>
                <button class="button button-outline button-assertive">button-assertive</button>
                <br>
                <button class="button button-outline button-royal">button-royal</button>
                <br>
                <button class="button button-outline button-dark">button-dark</button>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>